.nc
.csv
.mat
.pkl
.h5
.hdf
.hdf5
.zip

/data/tmp
/data/results
/boario/data/tmp
/boario/data/results
/boario/results

# Specific large files to ignore
boario/Zsliced_2009.csv
boario/Ysliced_2009.csv
boario/VAsliced_2009.csv
